// typography.
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 20px;

// source code typography.
$code-font-family: Consolas, Monaco, 'Andale Mono', monospace;
$code-font-size: 0.85em;

// vertical margin.
$margin: 50px;

// brand color.
$brand-color: #ffffff;

// other major colors.
$site-title-color: rgba(#066f72, .6);
$page-title-color: #000000;
$background-color: #fff;
$border-color: rgba(37,131,173,.100);

// typography colors.
$text-color: #383838;
$link-color: darken(#000000, 40%);
$blockquote-color: #777;
